@import "./variables";

.admin {
  flex-grow: 1;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);

  .admin__content {
    user-select: none;
    .admin__tabs {
      padding: 20px;
      padding-bottom: 10px;
      border-radius: 10px;
      background-color: antiquewhite;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      .admin__tab {
        margin-bottom: 10px;
        input {
          display: none;
          &:checked + label {
            background-color: $darkorange;
            color: $lightgray;
          }
        }
        label {
          font-weight: 700;
          padding: 10px 20px;
          border-radius: 10px;
          background-color: $orange;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }
  }
}

.admin__bookTable {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;

  button {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    font-weight: 700;
    border: none;
    border-radius: 2px;

    &:active {
      opacity: 0.7;
    }
  }

  .buttons {
    button {
      background-color: rgb(45, 158, 45);
      color: white;
      float: right;
    }
  }

  .table__row {
    padding: 5px;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    .row__content {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      align-items: center;

      .title {
        min-width: 250px;
        font-weight: 700;

        img {
          display: block;
          margin-left: 20px;
        }
      }

      .info {
        flex-grow: 1;
        p {
          margin-bottom: 5px;

          span {
            font-weight: 700;
          }
        }
      }
    }
    .buttons {
      margin-top: 5px;
      button {
        float: right;
        color: white;
        background-color: rgb(255, 73, 73);
      }
    }
  }
}

@media (max-width: 500px) {
  .admin__tabs {
    flex-direction: column;
    gap: 10px !important;
    .admin__tab {
      label {
        font-size: 12px;
      }
    }
  }
}
@media (max-width: 768px) {
  .admin__bookTable {
    .table__row {
      .row__content {
        flex-direction: column;
        align-items: start !important;
      }
    }
  }
}
