@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import "variables";
@import "./UI.scss";
@import "./Browser.scss";
@import "./NotFound.scss";
@import "./Books.scss";
@import "./Login.scss";
@import "./Profile.scss";
@import "./Authors.scss";
@import "./BookID.scss";
@import "./About.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans";
  list-style: none;
  font-size: 16px;
  word-wrap: break-word;
  text-decoration: none;
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  padding: 0 25px;
  max-width: 1200px;
}

.caption {
  padding: 30px 0 20px;
  font-size: 40px;
}

.ERROR {
  padding: 20px 0;
  color: red;
  font-size: 30px;
  text-align: center;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../assets/hexagons.svg);
  background-color: $lightgray;
}

.header {
  position: sticky;
  top: 0;
  width: 100vw;
  background-color: $dark;
  z-index: 100;

  .header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header__left {
      min-height: 90px;
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;

      &:hover {
        .header__logo {
          transform: rotateZ(45deg) scale(1.2);
        }
        .header__text {
          .logo__underline {
            background-color: $orange;
            width: 100%;
          }
        }
      }

      .header__logo {
        display: block;
        transition: all 0.3s ease-out;
        width: 60px;
      }

      .header__text {
        font-weight: 700;
        color: $white;
        font-size: 35px;

        .logo__underline {
          width: 30%;
          height: 5px;
          background-color: $white;
          transition: all 0.3s ease-out;
        }
      }
    }

    .header__right {
      .header__nav {
        .nav__list {
          display: flex;
          z-index: 100;

          .nav__item {
            cursor: pointer;
            position: relative;

            .nav__link {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              gap: 10px;
              padding: 18px 0;
              svg {
                color: $white;
                fill: $white;
                width: 25px;
                height: 25px;
                transition: all 0.15s ease-out;

                path {
                  stroke: $white;
                  transition: all 0.15s ease-out;
                }
              }

              .nav__text {
                margin: 0 30px;
                text-align: center;
                font-weight: 600;
                color: $white;
                transition: color 0.15s ease-out;
              }
              .nav__underline {
                height: 7px;
                width: 0;
                background: transparent;
                position: absolute;
                bottom: 0;

                transition: all 0.15s ease-out;
              }
            }

            &:hover {
              svg {
                color: $orange;
                fill: $orange;
                path {
                  stroke: $orange;
                }
              }
              .nav__underline {
                background-color: $orange;
                width: 100%;
              }
              .nav__text {
                color: $orange;
              }
            }
          }
        }
      }

      .burger {
        svg {
          width: 40px;
          height: 40px;
          fill: $white;
          display: none;
          position: relative;
          z-index: 1000;
        }
      }
    }
  }
}

.footer {
  border-top: 5px solid $orange;
  background-color: $dark;
  color: $lightgray;
  padding: 30px 0;

  .footer__content {
    .footer__contacts {
      display: flex;
      justify-content: space-between;
    }
    .footer__end {
      margin-top: 30px;
      border-top: 1px solid $gray;
      text-align: center;
      padding-top: 30px;
      font-weight: 700;
      font-size: 22px;
    }
  }
}

.burger__show {
  left: 0 !important;
  opacity: 1 !important;
}

.googleMap {
  margin-bottom: 20px;
  iframe {
    // box-shadow: 0 20px 16px -16px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 400px;
    border: 3px solid $lightgray;
  }
}

@media (max-width: 1000px) {
  .burger {
    svg {
      display: block !important;
    }
  }
  .nav__list {
    opacity: 0;
    padding-top: 102px;
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    left: -100%;
    top: 0;
    background-color: #1c222ae0;
    flex-direction: column;
    transition: all 0.2s ease-out;
    backdrop-filter: blur(5px);

    .nav__item {
      .nav__link {
        svg {
          display: none;
        }
        .nav__text {
          padding: 7px 0 !important;
          font-size: 24px;
          font-weight: 700 !important;
        }
        .nav__underline {
          display: none;
        }
      }
    }
  }
  .footer__contacts {
    flex-direction: column;
  }
}

@media (max-width: 360px) {
  .header__left {
    gap: 10px !important;
    .header__text {
      font-size: 30px !important;
    }
    .header__logo {
      width: 50px !important;
    }
  }
}
