.login {
  width: 100%;
  height: 600px;

  .caption {
    padding: 0 !important;
    margin-bottom: 20px;
    font-size: 24px;
    padding: 15px 0;
    text-align: left;
  }

  .login__content {
    width: 350px;
    display: inline-block;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    border-bottom: 5px solid $orange;
    border-radius: 10px;
    overflow: hidden;

    .login__inputs {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .login__input {
        width: 100%;
        input {
          padding: 7px;
          width: 100%;
          border: none;
          border-bottom: 2px solid $gray;
          transition: all 0.2s ease-out;

          &:focus {
            outline: none;
            border-color: $orange;
            background-color: rgba(0, 0, 0, 0.05);
          }
        }
        .warn {
          visibility: hidden;
          color: red;
          font-size: 10px;
        }
      }
    }

    .login__buttons {
      margin-top: 15px;

      #log_in {
        width: 100%;
        background-color: $orange;
        color: $white;
      }
    }
  }
}

@media (max-width: 460px) {
  .login {
    height: 400px;

    .login__content {
      width: 100% !important;
      padding: 20px !important;
    }
  }
}
@media (max-width: 370px) {
  .login {
    .caption {
      font-size: 20px;
    }
  }
}
