.login {
  width: 100%;
  height: 600px;

  .caption {
    padding: 0 !important;
    margin-bottom: 30px;
    font-size: 30px;
    padding: 15px 0;
    text-align: center;
  }

  .login__content {
    display: inline-block;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    padding: 35px;
    border-bottom: 5px solid $orange;
    border-radius: 10px;
    overflow: hidden;

    .warn {
      visibility: hidden;
      margin-top: 10px;
      color: red;
      font-size: 10px;
    }

    .login__inputs {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .login__input {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        span {
          font-size: 16px;
          color: $dark;
        }

        input {
          padding: 3px 0;
          width: 200px;
          border: none;
          border-bottom: 2px solid $gray;
          transition: all 0.2s ease-out;

          &:focus {
            outline: none;
            border-color: $orange;
          }
        }
      }
    }
    .login__buttons {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      button:first-child {
        background-color: $orange;
        color: $white;
      }
    }
  }
}

@media (max-width: 460px) {
  .login__content {
    width: 95%;
    padding: 20px !important;
    .login__input {
      flex-direction: column;
      span {
        display: none;
      }
    }
  }
}
@media (max-width: 360px) {
  .login {
    height: 400px;
    .caption {
      font-size: 20px;
    }
    .login__content {
      .login__inputs {
        .login__input {
          input {
          }
        }
      }
      .login__buttons {
        button {
          padding: 5px !important;
        }
      }
    }
  }
}
