.profile {
  flex-grow: 1;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);

  .profile__content {
    padding: 25px 0;

    .caption {
      padding: 0;
      margin-bottom: 10px;
    }
  }
}

.profile__info {
  //   margin-bottom: 30px;
  padding: 20px;
  padding-bottom: 35px;
  position: relative;
  background: rgb(210, 210, 210);
  background: linear-gradient(
    340deg,
    rgb(228, 228, 228) 0%,
    rgb(245, 245, 245) 90%
  );
  box-shadow: 0 20px 16px -16px rgba(0, 0, 0, 0.4);

  border-radius: 10px;
  display: flex;
  gap: 20px;
  transition: all 0.3s ease-out;
  overflow: hidden;

  //   &:hover {
  //     transform: scale(1.01) translateY(-5px);
  //     box-shadow: 0px 0px 500px #000;
  //   }

  .image {
    width: 250px;
    height: 250px;
    border-radius: 7px;
    transition: all 0.2s ease-out;
    img {
      width: 100%;
    }
  }
  .profile__name {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

    p {
      font-weight: 700;
      font-size: 20px;
      span {
        font-weight: 400;
        font-size: 20px;
      }
    }
    .FIO {
      span {
        letter-spacing: 4px;
      }
    }
    .other {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .gender {
        font-size: 20px;
        font-weight: 700;
        span {
          font-size: 20px;
          font-weight: 400;
        }
      }
    }
  }
  .profile__data {
    .buttons {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      #logout {
        background-color: rgb(255, 75, 75);
        color: white;
        &:hover {
          box-shadow: none;
          background-color: rgb(218, 64, 64);
        }
        &:active {
          box-shadow: none;
          background-color: rgb(173, 46, 46);
        }
      }
    }
  }
  .number {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    color: $gray;
  }
}

.profile__changepass {
  max-width: 300px;
  padding: 15px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
  h1 {
    margin-bottom: 5px;
    font-size: 18px;
  }
  input {
    font-size: 14px;
  }
}

.orders {
  margin: 20px 0;
  .caption {
    font-size: 26px;
    text-align: center;
  }

  hr {
    height: 1px;
    background-color: $lightgray;
    border: none;
  }

  .orders__content {
    margin-bottom: 20px;
    // padding: 20px;
    // padding-top: 40px;
    // background-color: rgb(238, 238, 238);
    // box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3),
    // 1px 1px 5px rgba(255, 255, 255, 1);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
    justify-content: center;

    .orders__item {
      padding: 10px;
      padding-bottom: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      transition: all 0.2s ease-out;
      background-color: white;
      cursor: pointer;
      position: relative;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);

      .status {
        margin: 10px 0;
        font-weight: 700;
        font-size: 20px;
      }

      button {
        width: 100%;
        height: 40px;
        border: none;
        background-color: rgb(255, 75, 75);
        color: white;
        position: absolute;
        bottom: 0;
        left: 0;
        cursor: pointer;
        transition: all 0.2s ease-out;
        &:hover {
          box-shadow: none;
          background-color: rgb(218, 64, 64);
        }
        &:active {
          box-shadow: none;
          background-color: rgb(173, 46, 46);
        }
      }

      &:hover {
        transform: translateY(-15px);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4), 0 4px 6px rgba(0, 0, 0, 0.4);
      }
    }
  }
}

@media (max-width: 800px) {
  .profile__info {
    .profile__name {
      p {
        font-size: 16px !important;
        span {
          font-size: 16px !important;
        }
      }
    }
    .image {
      width: 150px !important;
      height: 150px !important;
    }
  }
}
@media (max-width: 700px) {
  .profile__info {
    flex-direction: column;
    align-items: flex-start;
    .profile__data {
      position: absolute;
      right: 20px;
    }
    .profile__name {
      flex-direction: row;
    }
  }
}
@media (max-width: 500px) {
  .caption {
    font-size: 30px !important;
  }
  .profile__info {
    align-items: center !important;
    .profile__data {
      position: static;
    }
    .profile__name {
      flex-direction: column;
    }
  }
}
@media (max-width: 340px) {
  .profile__info {
    .number {
      font-size: 10px !important;
    }
  }
}
