.styledButton {
  padding: 10px 20px;
  color: $dark;
  font-weight: 700;
  font-size: 14px;
  background-color: $white;
  border-radius: 7px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.15s ease-out;
  border: none;
  outline: none;

  &:hover {
    box-shadow: 0 1px 4px $orange, -23px 0 20px -23px $orange,
      23px 0 20px -23px $orange, 0 0 40px $orange inset;
  }
  &:active {
    box-shadow: 0 1px 4px $darkorange, -23px 0 20px -23px $darkorange,
      23px 0 20px -23px $darkorange, 0 0 40px $darkorange inset;
  }
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;

  .page {
    padding: 5px 10px;
    border-radius: 3px;
    background-color: $lightgray;
    font-weight: 700;
    cursor: pointer;

    &.selected {
      background-color: $orange;
      color: $white;
    }
  }
}

.range {
  width: 300px;
  .text {
    // text-align: right;
  }
  .rc-slider {
    .rc-slider-track {
      background-color: $orange;
    }
    .rc-slider-handle {
      background-color: $white;
      border-color: $orange;
    }
  }
}
