.styledButton {
  padding: 10px 20px;
  //   padding: 5px 10px;
  color: $dark;
  font-weight: 700;
  font-size: 14px;
  background-color: $white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-out;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    box-shadow: 0 1px 4px $orange, -23px 0 20px -23px $orange,
      23px 0 20px -23px $orange, 0 0 40px $orange inset;
  }
  &:active {
    box-shadow: 0 1px 4px $darkorange, -23px 0 20px -23px $darkorange,
      23px 0 20px -23px $darkorange, 0 0 40px $darkorange inset;
  }
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;

  .page {
    padding: 5px 10px;
    border-radius: 3px;
    background-color: $lightgray;
    font-weight: 700;
    cursor: pointer;

    &.selected {
      background-color: $orange;
      color: $white;
    }
  }
}

.drop_zone {
  //   height: 80px;
  padding: 10px;
  padding-bottom: 30px;
  border: 3px solid $dark;
  border-radius: 5px;
  cursor: pointer;
  position: relative;

  p {
    font-size: 12px;
    text-align: center;
  }

  svg {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    color: $dark;
    fill: $dark;
  }

  h1 {
    text-align: center;
    font-size: 20px;
  }

  span {
    font-size: 12px;
    color: $gray;
    position: absolute;
    bottom: 7px;
    right: 10px;
  }

  &.droped {
    border-color: $orange;
    padding-bottom: 10px;

    h1 {
      margin-bottom: 5px;
      display: flex;
      text-align: left;
      justify-content: center;
      gap: 10px;

      svg {
        margin: 0;
        height: 30px;
        width: 30px;
      }
    }
  }
}

.range {
  width: 300px;
  .rc-slider {
    .rc-slider-track {
      background-color: $orange;
    }
    .rc-slider-handle {
      background-color: $white;
      border-color: $orange;
    }
  }
}
